
<div>


  <div id="search-bar">
    <h1 style="color:blue">Look4Tutor</h1>
    <%= form_tag search_path, :method => 'get' do %>

        <%= select_tag "subject", options_from_collection_for_select(Subject.all, "id", "course") %>
        <%= text_field_tag 'tags' %>
        <%= submit_tag "Search"%>

  <% end %>
  </div>


  <!-- video -->
  <div id="front-page-vedio">


    <video autoplay="" muted loop="" class="fillWidth fadeIn animated"
           poster="https://s3-us-west-2.amazonaws.com/coverr/poster/Traffic-blurred2.jpg" id="video-background">
      <source src="uiuc.mp4">
      Your browser does not support the video tag. I suggest you upgrade your browser.
    </video>

  </div>
  <!-- video -->



</div>




<script>
    $(function () {
        var availableTags = [
            "Vancouver, BC",
            "Coquitlam, BC",
            "Richmond, BC",
            "Surrey,BC",
            "New Westminster,BC",
            "Burnaby,BC",
            "Langley,BC"

        ];

        $("#tags").autocomplete(



            {
                source: availableTags,
                minLength: 2,
                messages: {
                    noResults: '',
                    results: function() {}
                }

            }


//            {
//                source: function (req, response) {
//                    var results = $.ui.autocomplete.filter(availableTags, req.term);
//
//                    response(results.slice(0, 5));//for getting 5 results
//                }
//            }





        );
    });


</script>



