

<div class="row">
  <div class="col-md-6 col-md-offset-1">

    <!--<iframe  height="800px" width="600px"  src="https://zhuliangyu.github.io/react-online-chatting/"></iframe>-->

    <iframe  height="800px" width="600px"  src="http://localhost:3001/"></iframe>

  </div>
  <div class="pull-left col-md-4">
    <!--<img src="/firebase.png" alt="firebase" height="42" width="42">-->
    <!--<img src="/react.png" alt="firebase" height="42" width="42">-->

    <img src="/firebase.png" alt="firebase" height="180px">
    <img src="/react.png" class="pull-left" alt="firebase" height="80px" style="margin: 25px">


  </div>


</div>

