

<div class="col-md-6 col-md-offset-3 well">
  <h1>Welcome to create a new event</h1>

  <%= render 'form' %>

  <button class="btn">
    <%#= link_to 'Back', tutor_path(@tutor) %>
  </button>


</div>

