#index-title{

    font-family: 'Tangerine', serif;
    font-size: 148px;
    text-shadow: 4px 4px 4px #aaa;
    color: white;

}

/* href="https://fonts.googleapis.com/css?family=Tangerine"
*/

/* stylesheet_link_tag 'application', 'put any external link'
*/