#tutor-index-left {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    width: 65%;
    overflow-y: scroll;
}


#index-map {
    position: absolute;
    top: 50px;
    bottom: 50px;
    right: 0;
    overflow-y: scroll;
    width: 35%;
    height: 90%;
}

#each-tutor{
    /*border: dashed;*/

}

.img-preview{
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 6px;

}